
body {
    background-image: url("bg.jpg");
    background-repeat : no-repeat;
    background-size:cover;
  }
  
  .heading{
    font-weight: bolder;
    color:white;
    font-size:1.2rem;
  }
  
   .nav-item1{
    border: 2px solid ; 
    margin: 1em;
    box-shadow: 2px 2px 2px;
   }

   .nav-link{
    color:white;
  }

.nav-link:hover{
color:#c9ccd1 ;
transform: scale(0.9) ;

   }

   .btnSubmit
  {
  margin: 2vh 0px;
  padding: 1vh;
  border: 0px;
  box-shadow: 1px 2px ;
  }
  
  .nav-item1{
   border: 2px solid ; 
   margin: 1em;
   box-shadow: 2px 2px 2px;
  }
  
  

  .button {
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 10px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .videoBox{
    margin: auto;
    margin-top: 3em;
  width: 70%;
  border: 3px solid rgb(69, 69, 69);
  padding: 2em;
  box-shadow: 3px 3px 4px 4px grey;
  }
  

 