
{% extends 'base.html' %} 
{% comment %} django index . html ko jnata h to  vo yahan ayega fir dekhega body  ocntent. base.html main jao aur extend krro ,  {% endcomment %}
{% load static %}
{% block title %}
Video To Text
{% endblock title %}

<style>
  {%block style%}

    #videotext{
    width:800px;
    min-height:100px;
    height:auto;
  }
  #preloader{
    background:#222222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:90%;
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:100;
    visibility:hidden;
}
#preloader img{
  margin-top:100px;
  margin-left:350px;
  height:60vh;
  width:50vw;
}
  {%endblock %}
      </style>

{% block body %}
<div id="preloader"> 
  <img src="{% static 'loader.gif' %}">
</div>
<div class=" videoBox">
  <div class="mb-3">
    <form action="{% url 'textgenerate'%}" method = "post">
      {% csrf_token%}
      <label for="exampleFormControlInput1" class="form-label heading">Video to Text</label>
      <input type="text" class="form-control myVideo" id="exampleFormControlInput1" placeholder="https://youtube/kBo3ipDEH6k3nb4" name="videotextinp">
      <br>   
      <button id="textbtn"class="btnSubmit button" type="submit"><span>Submit</span></button>
             
      </form>
      </div>
    
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label heading">Text Generated:</label>
      <textarea id="videotext">{{videotext}}</textarea>
    </div>
</div>
<script>
  var loader=document.getElementById("preloader");
   var btn=document.getElementById("textbtn");
   btn.addEventListener("click",function(){
    loader.style.visibility="visible";
    
   })
</script>
{% endblock body %}
